.App {
  background-color: rgba(0, 0, 0, 0.90);
  color: white;
}

.Exchange {
  display: flex;
  flex-direction: row;
}

.ExchangeTable {
  text-align: left;
  margin: 12px;
}

.ExchangeDate {
  margin: 12px 0px;
}

.ExchangeTable .ExchangeTableHeader {
  padding: 8px;
  background-color: #0A2647;
}

.ExchangeTable .CurrencyRow:nth-child(odd) {
  background-color: #1c5086;
}

.ExchangeTable .CurrencyRow:nth-child(even) {
  background-color: #0e2f53;
}

.ExchangeTable .CurrencyData {
  padding: 8px;
}

.ExchangeForm {
  margin: 24px;
}

.CurrencySelector {
  margin: 12px;
  padding: 8px 12px;
  background-color: #256297;
  color: white;
}

.CurrencySelectorOption {
  background-color: #0e2f53;
}

.CurrencyCalculateInput {
  padding: 8px 12px;
  background-color: #181A1B;
  color: white;
}

.CurrencyCalculateButton {
  margin: 12px;
  padding: 8px 12px;
  background-color: #256297;
  color: white;
}

.CurrencyCalculateButton:disabled {
  background-color: #707981;
  color: #ffffffcc
}