.ExchangeTable {
  text-align: left;
  margin: 12px;
}

.ExchangeTable .ExchangeTableHeader {
  padding: 8px;
  background-color: #0A2647;
}

.ExchangeTable .CurrencyRow:nth-child(odd) {
  background-color: #144272;
}

.ExchangeTable .CurrencyRow:nth-child(even) {
  background-color: #0A2647;
}

.ExchangeTable .CurrencyData {
  padding: 8px;
}